name: CI/CD Workflow
on: 
push:
branches:
- main
jobs:
deploy:
runs-on: ubuntu-latest
  steps:
  uses: actions/checkout@v3
uses: actions/setup-node@v3
with: 
node-version: '19'
cashe: npm
- name: Install dependencies 
run: npm ci
- name: Formatting and Linting 
run:  |
npm run format:check
npm run lint 
npm run tsc:check
- name: Tests
run: npm run test
