name: CI/CD Workflow
on: 
push:
branches:
- main
jobs:
deploy:
runs-on: ubuntu-latest
steps:
- name: Checkout respository 
  uses: actions/checkout@v3
- name: Setup node
uses: actions/setup-node@v3
with: 
node-version: '18.16.0'
- name: Install dependencies 
run: npm ci
- name: Formatting and Linting 
run:  |
npm run format:check
npm run lint 
npm run tsc:check
- name: Tests
run: npm run test